Package: com.cosmosgenius.screendump
Name: screendump
Depends: mobilesubstrate, preferenceloader
Version: 0.0.3
Architecture: iphoneos-arm
Description: VNC for ios
Maintainer: Sharat M R <cosmosgenius@gmail.com>
Author: Sharat M R <cosmosgenius@gmail.com>
Section: Tweaks
