<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entry</key>
	<dict>
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>label</key>
		<string>screendump</string>
        <key>icon</key>
		<string>ScreenDump.png</string>
	</dict>
    <key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>label</key>
            <string>Enabled</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.cosmosgenius.screendump</string>
            <key>key</key>
            <string>CCSisEnabled</string>
            <key>PostNotification</key>
            <string>com.cosmosgenius.screendump/preferences.changed</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSecureEditTextCell</string>
            <key>defaults</key>
            <string>com.cosmosgenius.screendump</string>
            <key>key</key>
            <string>CCSPassword</string>
            <key>label</key>
            <string>Password</string>
            <key>PostNotification</key>
            <string>com.cosmosgenius.screendump/preferences.changed</string>
        </dict>
    </array>
</dict>
</plist>
