Package: com.julioverne.screendump13
Name: screendump (iOS 13)
Depends: mobilesubstrate, preferenceloader
Conflicts: com.cosmosgenius.screendump
Architecture: iphoneos-arm
Description: VNC for ios
Maintainer: Julio
Author: julioverne, Sharat M R
Section: Tweaks
Version: 0.0.3d
Depiction: http://julioverne.github.io/description.html?id=com.julioverne.screendump13
Icon: file:///Library/PreferenceLoader/Preferences/screendump/ScreenDump@2x.png
