Package: com.cosmosgenius.screendump13
Name: screendump
Depends: mobilesubstrate, preferenceloader
Architecture: iphoneos-arm
Description: VNC for ios
Maintainer: Sharat M R <cosmosgenius@gmail.com>
Author: Sharat M R <cosmosgenius@gmail.com>
Section: Tweaks
Version: 0.0.3
